__pycache__
cache*
output*
.idea
.vscode
config*.yml
!config.yml
!config_gitlab.yml
!config_docker.yml
slurm*
*.out
*.sh
*.pickle
*.iter
!docker_run.sh
logs
run*.sh
analysis
server
cutterZone
.ipynb_checkpoints
*.ipynb
routing