__pycache__
cache
.idea
.vscode
plots
slurm*
config*.yml
!config.yml
!config_gitlab.yml
!config_docker.yml
*.sh
*.md
*.vite

# Things that need to be ignored for the webapp
dist/
node_modules/
public/
slurm*
*.out
*.sh
!docker_run.sh